<div ng-switch="joinState">
  <div ng-switch-when="no-auth">Waiting for server ...</div>
  
  <div ng-switch-when="no-room">
    <p>Get to 10 completed tasks and progress to the next level! Fail 10 and you lose.</p>

    <p>Room name: <input ng-model="$parent.room"></p>
    <p><button ng-click="joinRoom()">Join room!</button></p>
  </div>

  <div ng-switch-when="waiting">
    <p><button ng-click="startRoom()">Start the {{ room.name }} game</button></p>
  </div>

  <div ng-switch-when="ready">
    <p>Waiting for other players...</p>
  </div>

</div>
