
<div class="gadgets">
  <div ng-repeat="(gadgetKey, gadget) in ownedGadgets" class="gadget">
    {{gadget.name}}<br /> 
    <button ng-repeat="state in gadget.possible" ng-click="setGadgetState(gadgetKey, state)">{{state}}</button>
  </div>
</div>

<div class="instructions-console">
<div class="console-inner">
  <div ng-repeat="instr in pastInstructions" 
       ng-class="{completed: instr.completed, failed: !instr.completed}">$ {{ instr.text }}</div>

  <div ng-if="instruction != null">$ {{ instruction.text }}</div>

  <div ng-if="levelState == 'win'" class="completed">
    [LEVEL SUCCESS] {{ tasks.completed }} task(s) completed during level.
  </div>
  <div ng-if="levelState == 'lose'" class="failed">
    [LEVEL FAIL] {{ tasks.failed }} task(s) failed during level.
  </div>

</div>
</div>
