<p>Level {{ levelNumber }} | {{ uid }}</p>
<p>Get to 10 completed tasks and you win! Fail 10 and you lose.</p>

<p>Progress: {{ levelState }}</p>
<p>Completed: {{ tasks.completed || 0 }}</p>
<p>Failed: {{ tasks.failed || 0 }}</p>

<button ng-if="readyToStart" ng-click="generateInstruction()">Start generating instructions</button>
<p ng-if="instruction != null">{{ instruction.text }}</p>

<ul>
<li ng-repeat="(gadgetKey, gadget) in ownedGadgets">
  {{gadget.name}}<br /> 
  <button ng-repeat="state in gadget.possible" ng-click="setGadgetState(gadgetKey, state)">{{state}}
  </button>
</li>
</ul>

<ul>
<li ng-repeat="instr in pastInstructions | reverse" ng-class="{completed: instr.completed, failed: !instr.completed}">{{ instr.text }}</li>
</ul>
