<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="googleSpaceteam" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="googleSpaceteam" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="googleSpaceteam" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="googleSpaceteam" class="no-js" ng-controller="PageCtrl"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <title>Google Spaceteam</title>
  <link rel="stylesheet" href="bower_components/html5-boilerplate/css/normalize.css">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/css/main.css">
  <link rel="stylesheet" href="app.css">
  <link rel="stylesheet" href="room.css">
  <link rel="stylesheet" href="join/join.css">

  <script src="bower_components/html5-boilerplate/js/vendor/modernizr-2.6.2.min.js"></script>
  <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
  -->
  <script src="bower_components/jquery/dist/jquery.min.js"></script>
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="bower_components/firebase/firebase.js"></script>
  <script src="bower_components/angularfire/dist/angularfire.js"></script>
  <script src="app.js"></script>
  <script src="js/page.js"></script>
  <script src="join/join.js"></script>
  <script src="room/room.js"></script>
  <script src="room/services.js"></script>
  <script src="room/gadgets.js"></script>
  <script src="js/stringFormatterModule.js"></script>

</head>
<body>
<div class="full">
  <div class="header">
    Google Spaceteam 
    <span ng-if="levelNumber != null">| Level {{ levelNumber }}</span>
    <span ng-if="Page.getUid() != null">| {{ Page.getUid() }}</span>
    <span ng-if="Page.getUid() == null">| Not authenticated</span>
  </div> 
  <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->

  <div ng-view class="middle"></div>
  <div ng-if="showFooter" class="footer">
    <div class="progress-container">
      <div ng-repeat="t in getTimes(tasks.completed)" class="progress-block completed-block"></div>
    </div>
    <div class="clear"></div>

    <div class="progress-container">
      <div ng-repeat="t in getTimes(tasks.failed)" class="progress-block failed-block"></div>
    </div>
    <div class="clear"></div>
    <!-- {{ tasks.completed }} / {{ tasks.failed + tasks.completed }} ... {{ levelState }} -->
  </div>

</div>
</body>
</html>
