.middle > div {
  flex: 1 50%;
}

.gadgets {
  display: flex;
  flex-flow: row wrap;
  justify-content:space-around;
  align-content: flex-stretch; 
}

.gadgets > div {
  min-width:25%; 
  padding:0 15px;
}

.button-gadget > button {
  display: block;
  width: 100%;
  margin:5px;
  text-align: left;
}

.slider-gadget {
  text-align: center;
}

.slider {
  width:20px;
  -webkit-appearance: slider-vertical
}

.instructions-console {
  background-color:#373D44; /* midnight */
  padding: 5px;
  border: 3px solid #7b8087; /* smoke */
}

.console-inner {
  display: flex;
  flex-flow: column wrap; 
  justify-content: flex-start;
  align-content: flex-start;
  align-items: flex-start;
  color: #F2F3F7; /* snow */
  font-family: monospace;
}

.console-inner > div {
  padding-bottom: 3px;
}

.completed {
  color: #33CD7B; /* jade */
}

.failed {
  color: #FE464D; /* ember */
}
